<a href="https://colab.research.google.com/github/devendrapandey2005/DSA-with-python/blob/main/DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#count digit
n = 5873 # Changed n to an integer
num = n
while num > 0:
  last_digit = num % 10
  print(last_digit)
  num = num // 10

3
7
8
5

In [ ]:
#count digit
n = 5873 # Changed n to an integer
num = n
count = 0
while num > 0:
  '''last_digit = num % 10
  print(last_digit)'''
  count +=1
  num = num // 10
print(count)

4

In [ ]:
# check palindrom
n = 12345
num = n
result = 0
while num>0:
  ld = num%10
  result = (result*10)+ld
  num = num//10
  if result == n:
    print("palindrom")
  else :
    print('not palidrom')

not palidrom
not palidrom
not palidrom
not palidrom
not palidrom

In [ ]:
#armstrong number
n = 153
num = n
total = 0
nod = len(str(n))
while num >0:
  ld = num%10
  total = total + (ld ** nod)
  num = num//10
if total == n:
  print("it is a armstrong number")
else:
  print("not a armstrong number")

it is a armstrong number

In [ ]:
#print factors of given number
#this is for brute force
num = 20
result =[]
for i in range(1,num+1):
  if num%i == 0:
    result.append(i)
print(result)

[1, 2, 4, 5, 10, 20]

In [ ]:
#print factors of given number
#this is better solution
num = 20
result =[]
for i in range(1,num//2):
  if num%i == 0:
    result.append(i)
result.append(num)
print(result)

[1, 2, 4, 5, 20]

In [19]:
#frequency map
# mathod 1
num = [5,6,7,7,1,9,111,1,1,5,1,1]
freq_map = {}
for i in range(0,len(num)):
  if num[i] in freq_map:
    freq_map[num[i]] += 1
  else:
    freq_map[num[i]]=1
print(freq_map)

{5: 2, 6: 1, 7: 2, 1: 5, 9: 1, 111: 1}

In [4]:
#method 2
hash_map = {}
n = len(num)
for i in range (0,n):
  hash_map[num[i]] = hash_map.get(num[i],0)+1
print(hash_map)

{1: 5, 5: 2, 6: 1, 7: 2, 9: 1, 111: 1}

In [12]:
#hashing
#brute mathod
n = [5,3,2,2,1,5,5,7,5,10]
m = [10,111,1,9,5,67,2]
for num in m:
  count = 0
  for x in n:
    if x == num:
      count += 1
  print(" ",count)

  1
  0
  1
  0
  4
  0
  2

In [14]:
n = [5,3,2,2,1,5,5,7,5,10]
m = [10,111,1,9,5,67,2]
hash_list = [0]*11
for num in n:
  hash_list[num]+=1
for num in m:
  if num < 1 or num > 10:
    print(0)
  else :
    print(hash_list[num])

1
0
1
0
4
0
2

In [11]:
#for optimal method
n = [5,3,2,2,1,5,5,7,5,10]
m = [10,111,1,9,5,67,2]
hash_list = [0] * 11
for num in n:
    if 0 <= num <= 10:
        hash_list[num] += 1
for num in m:
    if 0 <= num <= 10:
        print(f"The number {num} appears {hash_list[num]} times in list n.")
    else:
        print(f"The number {num} is outside the range [0, 10] and does not appear in the frequency count.")

The number 10 appears 1 times in list n.
The number 111 is outside the range [0, 10] and does not appear in the frequency count.
The number 1 appears 1 times in list n.
The number 9 appears 0 times in list n.
The number 5 appears 4 times in list n.
The number 67 is outside the range [0, 10] and does not appear in the frequency count.
The number 2 appears 2 times in list n.

In [16]:
lst1 = [3, 3, 4, 5, 6, 7, 9, 6, 10]
list2 = [10, 44, 55, 1, 2, 88, 9, 6, 20]
#using dictionary method 3
count_dict = {}
for num in lst1:
    if num in count_dict:
        count_dict[num] += 1
    else:
        count_dict[num] = 1
for num in list2:
    count = count_dict.get(num, 0)
    print(f"{num} appears {count} time(s) in list1")

10 appears 1 time(s) in list1
44 appears 0 time(s) in list1
55 appears 0 time(s) in list1
1 appears 0 time(s) in list1
2 appears 0 time(s) in list1
88 appears 0 time(s) in list1
9 appears 1 time(s) in list1
6 appears 2 time(s) in list1
20 appears 0 time(s) in list1

In [18]:
#character hashing
s = "azyxyyzaaaa"
q = ["d","a","y","x"]
hash_list = [0]*26
for ch in s:
  ascii_value = ord(ch)
  index = ascii_value - 97
  hash_list[index] +=1
for ch in q:
  ascii_value = ord(ch)
  index = ascii_value - 97
  print(hash_list[index])

0
5
3
1